.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 16px;
    background-color: rgb(64, 4, 41);
    padding: 40px;
}

.cart-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 16px;
    background-color: rgb(4, 35, 64);
    padding: 40px;
}

.card{
    background-color: white;
    color: #222;
    border-radius: 8px;
    padding: 16px;
}

button{
    background-color: #111;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 14px;
    cursor: pointer;
}

button:hover{
    background-color: #333;
}
